@charset "utf-8";
/*───────────────────────────────────────────────────────────
	
	header, footer, main 관련 작성 css 파일입니다.

	** 이와 서브페이지 관련 css는 /css/sub.css 에 있습니다.

───────────────────────────────────────────────────────────*/

/*───────────────────────────────────────────────────────────
	
	header, footer, main 관련 작성 css 파일입니다.

	** 이와 서브페이지 관련 css는 /css/sub.css 에 있습니다.

───────────────────────────────────────────────────────────*/


/*───────────────────────────────────────────────────────────
	layout common
───────────────────────────────────────────────────────────*/
	#wrap {position:relative;height:100%;width:100%;margin:0;padding:0;} /* #header 와 #container, #footer 전체 감싸는 영역 */
	#wrap #header {width:100%;margin:0;padding:0;}
	#wrap #container {width:100%;margin:0;padding:90px 0 0 0;}
	#wrap #footer {width:100%;margin:0;}
		/* #container 안의 레이아웃 */
	#contents_wrap {width:1200px;margin:0 auto;padding:0;position:relative;z-index:1;box-sizing:border-box;} /* #container 안의 컨텐츠 감싸는 영역 */
	#contents_wrap #side_box {width:100%;padding:5.6% 0 0 0;box-sizing:border-box;} /* lnb 감싸는 영역 */
	#contents_wrap #contents_box {width:100%;padding:5.6% 0 7.2% 0;box-sizing:border-box;} /* 컨텐츠를 감싸는 영역 */
	#contents_wrap #side_box + #contents_box {padding-top:0;} /* lnb와 컨텐츠가 float 일때 사이즈 재설정 */
		/* navigation layout */
	#contents_wrap .nav_wrap {box-sizing:border-box;}
		/* #content */
	#content {width:100%;margin:0;padding:0;text-align:left;box-sizing:border-box;} /* navigation 을 제외한 컨텐츠 */
	#content .sub_content{width:100%;margin:0 auto;background:#fff;box-sizing:border-box;}
	#content .sub_content:after {clear:both;content:"";display:block;}
		/* 컨텐츠 전체 가로 사이즈 */
	.w_custom {width:1200px;text-align:left;margin:0 auto;padding:0;box-sizing:border-box;}

	@media only screen and (max-width:1217px) {
		body.on {height:100%;overflow:hidden;}
		#contents_wrap {width:100%;padding-left:12px !important;padding-right:12px !important;}
		.w_custom{width:100%;padding-left:12px !important;padding-right:12px !important;}
	}
	@media only screen and (max-width:1200px) {
		
	}
	@media only screen and (max-width:1023px) {
		#contents_wrap #side_box {padding:4.8% 0 0 0;}
		#contents_wrap #contents_box {padding:4.8% 0 6.4% 0;}
	}
	@media only screen and (max-width:860px) {
		#contents_wrap #side_box {padding:4.2% 0 0 0;}
		#contents_wrap #contents_box {padding:4.2% 0 6.4% 0;}
	}
	@media only screen and (max-width:767px) {
		/*.w_custom {padding-left:4% !important;padding-right:4% !important;}*/
		#contents_wrap #side_box {display:none;}
	}
	@media only screen and (max-width:640px) {
		#contents_wrap #contents_box {padding:4.2% 0 10.4% 0;}
	}
	@media only screen and (max-width:479px) {
		#contents_wrap #contents_box {padding:4.2% 0 12% 0;}
	}


/*───────────────────────────────────────────────────────────
	sub custom
───────────────────────────────────────────────────────────*/
	/*** company/history (연혁) ***/
		/* 연도 */
	.sub_history.history1 .history_box .his_year .year strong {background:#044572;}
	/* 원 */.sub_history.history1 .history_box .his_year .year::before {background-color:#044572;}
	/* 삼각형 */.sub_history.history1 .history_box .his_year .year strong::after {border-bottom:12px solid #044572;border-color:#044572 !important;}

	/*** company/history2 (연혁2) ***/
		/* 연도 */
	.sub_history.history2 .history_box .his_year .year strong {color:#044572;}
	.sub_history.history2 .history_box .his_year .year strong::before {background:#044572;}
	.sub_history.history2 .history_box .his_year .year strong::after {border-color:#044572;}

	/*** company/history3 (연혁3) ***/
		/* 연도 */
	.sub_history.history3 .history_box table.history span {color:#044572;}

	/*** company/work (조직도1번) ***/
	.sub_chart.chart1 .chart .chart_box h3 + h3 {background:#044572;}





/*───────────────────────────────────────────────────────────

	 HEADER | outline/header.html, outline/nav.html

───────────────────────────────────────────────────────────*/

	.skip_nav {position:relative;z-index:9999;}
	.skip_nav a {display:block;height:1px;width:1px;margin-bottom:-1px;overflow:hidden;font-size:12px;color:#fff;font-weight:bold;white-space:nowrap;text-align:center;}
	.skip_nav a:focus, .skip_nav a:active {height:auto;width:100%;padding:0;margin-bottom:0;position:absolute;left:0;top:0;}


	.fp-viewing-Main #header{position:absolute;left:0px;top:0px;width:100%;z-index:50;transition:0.4s;background:transparent;border-bottom:0;}
	.fp-viewing-Main #header .hd_top{display:block;}
	.fp-viewing-Main #header .hd_btm{position:static;}
	#header{border-bottom:1px solid #ccc;}
	#header .hd_btm{position:fixed;left:0;top:0;width:100%;z-index:500;}
	#header .w_set{width:calc(100% - 160px);margin:0 auto;}


	#header .hd_top {background:rgba(0,0,0,0.2);display:none;transition:0.4s;}
	#header .hd_top .w_set,
	#header .hd_top .w_set .hd_sns,
	#header .hd_top .w_set .hd_sns li,
	#header .hd_top .w_set .hd_sns li a{height:50px;line-height:50px;}
	#header .hd_top .w_set{}

	#header .hd_btm{transition:0.4s;}
	#header .hd_btm .w_set{position:relative;height:102px;text-align:center;}

	#header .w_set .logo{position:absolute;left:0px;top:0;width:255px;height:100%;background:url('../images/skin/logo_on.png') no-repeat center;}
	#header .w_set .logo a{display:block;height:100%;}
	#header .w_set .hd_lnb{text-align:center;}
	#header .w_set .hd_lnb li.lnb_li {display:inline-block;vertical-align:middle;}
	#header .w_set .hd_lnb li.lnb_li  + li.lnb_li {padding-left:3.5%;}
	#header .w_set .hd_lnb li.lnb_li > a{font-size:18px;color:#fff;line-height:102px;display:block;}
	#header .w_set .hd_lnb li.lnb_li .menu_li{transition:0.8s;position:absolute;left:-80px;top:100px;margin-top:0px;min-height:inherit;width:calc(100% + 160px);background:#fff;height:auto;display:none;padding:23px 0 28px;border-bottom:2px solid #333;border-top:1px solid #ccc;}
	#header .w_set .hd_lnb li.lnb_li:hover .menu_li{display:block;}
	#header .w_set .hd_lnb li.lnb_li .menu_li .w_set{width:1100px;margin:0 auto;height:auto;text-align:left;}
	#header .w_set .hd_lnb li.lnb_li .menu_li .dep1{border-right:0px;top:0px;}
	#header .w_set .hd_lnb li.lnb_li .menu_li .dep2{overflow:hidden;}
	#header .w_set .hd_lnb li.lnb_li .menu_li .dep2 .dep2_li{position:relative;}
	#header .w_set .hd_lnb li.lnb_li .menu_li .dep2 .dep2_li:after{content:"";display:block;width:1px;height:1000%;background:#ddd;left:-15px;top:0px;position:absolute;}

	#header .w_set .hd_gnb{position:Absolute;right:0px;top:40px;min-width:260px;text-align:right;}

	#header .w_set .hd_gnb .hd_sns + .h_login{border-left:1px solid #adafaf;}
	#header .w_set .hd_gnb a.h_login {display:inline-block;font-size:15px;color:#fff;vertical-align:middle;margin-right:18px;vertical-align:middle;padding-left:4%;line-height:12px;}
	#header .w_set .hd_gnb .lang{position:relative;}
	#header .w_set .hd_gnb .lang span{border:1px solid #fff;padding:0 16px;line-height:32px;border-radius:32px;display:inline-block;font-size:14px;color:#fff;background:url('../images/skin/lang_arw_on.png') no-repeat 81%;min-width:35px;text-align:left;cursor:pointer;}
	#header .w_set .hd_gnb .lang.on span{border-radius:17px 17px 0 0;}
	#header .w_set .hd_gnb .lang ul{position:absolute;top:34px;left:0;width:97%;display:none;border:1px solid #b7b7b7;border-top:0px;border-radius:0 0 17px 17px;padding:5px 0;overflow:hidden;background:#fff;}
	#header .w_set .hd_gnb .lang.on ul{display:block;}
	#header .w_set .hd_gnb .lang ul li{}
	#header .w_set .hd_gnb .lang ul li + li{}
	#header .w_set .hd_gnb .lang ul li a{color:#666;font-size:14px;line-height:24px;display:block;text-align:left;padding-left:16px;}
	#header .w_set .hd_gnb .gnb_li{padding:0 0 0 23px;}
	#header .w_set .hd_gnb .gnb_li li{display:inline-block;vertical-align:middle;}
	#header .w_set .hd_gnb .gnb_li li + li{margin-left:33px;}
	#header .w_set .hd_gnb .gnb_li li a{display:block;height:100%;z-index:5000;position:relative;}
	#header .w_set .hd_gnb .hd_sns,
	#header .w_set .hd_gnb .lang,
	#header .w_set .hd_gnb .gnb_li{display:inline-block;vertical-align:middle;}

	#header .w_set .hd_gnb .gnb_li li.hd_my{width:20px;height:20px;background:url('../images/skin/hd_my.png') no-repeat 0 0;}
	#header .w_set .hd_gnb .gnb_li li.hd_search{width:20px;height:20px;background:url('../images/skin/hd_search.png') no-repeat 0 0;}
	#header .w_set .hd_gnb .gnb_li li.hd_menu{width:28px;height:19px;}

		/* hd_menu */
		.menu-trigger, .menu-trigger2 {width:100%;height:38px;line-height:18px;padding:10px 0;box-sizing:border-box;margin:0;display:inline-block;position:relative;}
		.menu-trigger span, .menu-trigger2 span {transition:0.3s;position:absolute;right:0px;width:29px;height:3px;background-color:#fff;border-radius:2px;}
		.menu-trigger, .menu-trigger span, .menu-trigger2, .menu-trigger2 span {display:inline-block;transition:all .4s;box-sizing:border-box;}
		.menu-trigger span:nth-of-type(1), .menu-trigger2 span:nth-of-type(1) {top:0;}
		.menu-trigger span:nth-of-type(2), .menu-trigger2 span:nth-of-type(2) {top:8px;}
		.menu-trigger span:nth-of-type(3), .menu-trigger2 span:nth-of-type(3) {top:16px;}
		.menu-trigger.active-1 .menu-trigger2.active-1 {}
		.menu-trigger.active-1 span:nth-of-type(1), .menu-trigger2.active-1 span:nth-of-type(1) {-webkit-transform:translateY (8px) rotate (-45deg);transform:translateY(7px) rotate(-45deg);}
		.menu-trigger.active-1 span:nth-of-type(2), .menu-trigger2.active-1 span:nth-of-type(2) {opacity:0;}
		.menu-trigger.active-1 span:nth-of-type(3), .menu-trigger2.active-1 span:nth-of-type(3) {-webkit-transform:translateY(-8px) rotate(45deg);transform:translateY(-9px) rotate(45deg);}

		/* all_menu_wrap */

		.all_menu_wrap{position:fixed;top:0;right:0px;z-index:990;background:#fff;width:100%;height:100%;display:none;padding-bottom:50px;}
		.all_menu_wrap .menu-trigger span, .all_menu_wrap .menu-trigger2 span{background:#222;}
		.all_menu_wrap .all_menu{overflow-y:scroll;height:calc(100% - 102px);}
		.all_menu_wrap .all_menu .w_set{width:1200px;margin:0 auto;}
		
		.all_menu_hd{background:#fff;position:relative;}
		.all_menu_hd .w_set{position:relative;height:102px;text-align:center;width:calc(100% - 160px);margin:0 auto;}
		.all_menu_hd .hd_gnb{position:Absolute;right:0px;top:35px;}

		.all_menu_wrap .mo_menuTitle {border-bottom:1px solid #eee;padding:10px 25px 14px;position:relative;margin:0;}
		.all_menu_wrap .mo_menuTitle .mo_logo,
		.all_menu_wrap .mo_menuTitle .btn_mMenuClose {vertical-align:top;}
		.all_menu_wrap .mo_menuTitle .mo_logo {display:inline-block;float:left;min-height:38px;}
		.all_menu_wrap .mo_menuTitle .mo_logo a {width:150px;height:auto;padding-top:15px;font-size:26px;color:#222222;}

		.all_menu_wrap .mo_menuTitle .btn_mMenuClose {width:36px;height:38px;position:absolute;top:20px;right:20px;}
		.all_menu_wrap .mo_menuTitle .menu-trigger span,
		.all_menu_wrap .mo_menuTitle .menu-trigger2 span{background-color:#333 !important;}


		.menu_li{position:relative;clear:both;margin-top:30px;min-height:60px;text-align:left;padding-top:30px;}
        .menu_li a{font-size:20px;color:#222222;line-height:16px;display:block;margin:20px 0 14px 0;font-weight:500;}


		.all_menu_wrap .aside_sns{font-size:0px;margin:30px 0 0 0;text-align:center;}
		.all_menu_wrap .aside_sns li{display:inline-block;vertical-align:middle;}
		.all_menu_wrap .aside_sns li + li{margin-left:5.5%;}
		.all_menu_wrap .aside_sns li a{display:block;}
		.all_menu_wrap .aside_sns li img{height:34px;}

		.all_menu_wrap .mo_menuTitle,
		.all_menu_wrap .ct_login,
		.all_menu_wrap .aside_sns{display:none;}

		
		/* aside*/
		#aside {display:none;}
		.aside_bg {left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,0.6);opacity:0;transition:0.8s;z-index:15;position:fixed;}
		.aside_bg.on {opacity:1;}
		#aside {top:0px;right:-100%;width:100%;transition:0.8s;height:100%;z-index:51;box-sizing:border-box;box-sizing:border-box;display:block;position:fixed;background:#fff;}
		#aside.on {right:0%;}
		#aside .aside_box {width:100%;height:100%;margin:0;padding:0;overflow-y:auto;position:relative;z-index:1;box-sizing:border-box;}
		#aside .aside_box .aside_lnb {width:100%;max-width:100%;padding:0;max-height:100%;box-sizing:border-box;text-align:center;}
		#aside .aside_box .mo_menuTitle {border-bottom:1px solid #eee;padding:10px 25px 14px;position:relative;margin:0;}
		#aside .aside_box .mo_menuTitle .mo_logo,
		#aside .aside_box .mo_menuTitle .btn_mMenuClose {vertical-align:top;}
		#aside .aside_box .mo_menuTitle .mo_logo {display:inline-block;float:left;min-height:38px;}
		#aside .aside_box .mo_menuTitle .mo_logo img {width:auto;height:38px;}
		#aside .aside_box .mo_menuTitle .ct_lang{display:inline-block;position:relative;z-index:9999;cursor:pointer;}
		#aside .aside_box .mo_menuTitle .ct_lang div{position:relative;}
		
		#aside .aside_box .mo_menuTitle .ct_lang div span{font-size:12px;color:#666;line-height:38px;padding-right:25px;background:url('../images/skin/ico_ct_lang.png') no-repeat 90%;background-size:auto 5px;}
		#aside .aside_box .mo_menuTitle .ct_lang div ul{position:absolute;top:30px;left:0px;text-align:left;width:100%;display:none;}
		#aside .aside_box .mo_menuTitle .ct_lang div.on ul{display:block;}
		#aside .aside_box .mo_menuTitle .ct_lang div ul li{}
		#aside .aside_box .mo_menuTitle .ct_lang div ul li a{display:block;}
		#aside .aside_box .mo_menuTitle .ct_lang span.now{padding:0 16px;box-sizing:border-box;line-height:20px;color:#fe6f61;border:1px solid #fe6f61;border-radius:2px;}
		#aside .aside_box .mo_menuTitle .ct_lang div,
		#aside .aside_box .mo_menuTitle .ct_lang span.now{display:inline-block;vertical-align:middle;}
		#aside .aside_box .mo_menuTitle .btn_mMenuClose {width:36px;height:38px;position:absolute;top:20px;right:20px;}
		#aside .aside_box .mo_menuTitle .menu-trigger span,
		#aside .aside_box .mo_menuTitle .menu-trigger2 span{background-color:#333 !important;}
		#aside .aside_box .ct_login{font-size:0px;width:calc(100% - 60px);overflow:hidden;padding:30px 0;margin:0 auto;}
		#aside .aside_box .ct_login li{float:left;width:49%;height:42px;line-height:42px;box-sizing:border-box;border:1px solid #111111;}
		#aside .aside_box .ct_login li + li{margin-left:2%;}
		#aside .aside_box .ct_login li a{color:#111111;font-size:13px;}
		#aside .aside_box .ct_login li.point{background:#d1b698;border:1px solid #d1b698;}
		#aside .aside_box .ct_login li.point a{color:#ffffff;}
		#aside ul.slidemenu {border-bottom:1px solid #ddd;}/*overflow:scroll;height:100%;*/
		#aside ul.slidemenu > li {text-align:left;border-top:1px solid #dddddd;}
		#aside ul.slidemenu > li + li {border-top:1px solid #dddddd;}
		#aside ul.slidemenu > li.now > ul {display:block;}
		#aside ul.slidemenu > li > a {position:relative;display:block;}
		#aside ul.slidemenu > li > a span{width:100%;font-size:18px;color:#333333;font-weight:500;padding:25px 0 20px 25px;line-height:18px;background:url(../images/skin/ct_off.png) no-repeat 94% 50%;background-size:15px auto;box-sizing:border-box;display:block;}
		#aside ul.slidemenu > li > a .menu_arr{display:none;}
		#aside ul.slidemenu > li > a.now {}
		#aside ul.slidemenu > li > a.now span{background:url(../images/skin/ct_on.jpg) no-repeat 94% 50%;background-size:15px auto;color:#ff5d65;}
		#aside ul.slidemenu > li > a.now .menu_arr{background:#fff url("../images/da_image/side_arr_ov.gif") no-repeat 94% center;width:17px;height:17px;background-size:100% auto;}
		#aside ul.slidemenu > li > a.now > ul {display:block;}
		#aside ul.slidemenu > li > ul {background-color:#f9f9f9;padding:0 20px;border-top:0;display:none;border-top:1px solid #ddd;}
		#aside ul.slidemenu > li > ul > li {padding:0 15px;box-sizing:border-box;}
		#aside ul.slidemenu > li > ul > li + li {border-top:1px solid #ddd;}
		#aside ul.slidemenu > li > ul > li a {width:100%;font-size:15px;padding:22px 0;color:#666666;font-weight:400;display:inline-block;line-height:15px;}
		#aside ul.slidemenu > li > ul > li a:hover, 
		#aside ul.slidemenu li dl dd a.on {font-weight:500;}
		#aside .aside_sns{font-size:0px;margin:30px 0 0 0;}
		#aside .aside_sns li{display:inline-block;vertical-align:middle;}
		#aside .aside_sns li + li{margin-left:5.5%;}
		#aside .aside_sns li a{display:block;}
		#aside .aside_sns li img{height:34px;}
		
	/* hd on */
	#header.on{background:transparent;}
	#header.on .hd_btm{background:#fff;border-bottom:1px solid #ccc;}

	#header.on .w_set .logo{background:url('../images/skin/logo.png') no-repeat center;}
	#header.on .w_set .hd_gnb .lang span{color:#666;background:url('../images/skin/hd_lang.png') no-repeat 81%;border:1px solid #b7b7b7;}
	#header.on .w_set .hd_gnb .lang ul{background:transparent;}
	#header.on .w_set .hd_gnb .lang ul li a{color:#666;}
	#header.on .w_set .hd_gnb .gnb_li li.hd_my{background:url('../images/skin/hd_my_on.png') no-repeat 0 0;}
	#header.on .w_set .hd_gnb .gnb_li li.hd_search{}
	#header.on .w_set .hd_gnb .gnb_li li.hd_menu{}
	#header.on	.menu-trigger span, .menu-trigger2 span {background-color:#222;}


	#header.on .w_set .hd_gnb a.h_login {color:#333;}
	#header .w_set .hd_gnb .lang ul{position:absolute;top:34px;left:0;width:97%;display:none;border:1px solid #b7b7b7;border-top:0px;border-radius:0 0 17px 17px;padding:5px 0;overflow:hidden;background:#fff;}
	#header .w_set .hd_gnb .lang ul li a{color:#666;font-size:14px;line-height:24px;display:block;text-align:left;padding-left:16px;}
	#header.on .w_set .hd_lnb li.lnb_li > a{color:#333;}
	#header.on .w_set .hd_lnb li.lnb_li > a:hover,
	#header.on .w_set .hd_lnb li.lnb_li.on > a{color:#044572;}

	#header,
	#header .hd_btm,
	#header .hd_btm{background:#fff;}
	#header .hd_top{background:#f5f5f5;}
	#header .w_set .logo{background:url('../images/skin/logo.png') no-repeat center;}
	#header .w_set .hd_lnb li.lnb_li > a{color:#333;}
	#header .w_set .hd_gnb .lang span{color:#333;background:url('../images/skin/hd_lang.png') no-repeat 81%;border:1px solid #333;}
	#header .w_set .hd_gnb .lang{}
	#header .w_set .hd_gnb .lang ul{background:#fff;}
	#header .w_set .hd_gnb .lang ul li a{color:#333;}
	#header.w_set .hd_lnb li.lnb_li > a{color:#fff;}
	#header .w_set .hd_gnb a.h_login{color:#333;}

	#header .w_set .hd_gnb .gnb_li li.hd_my{background:url('../images/skin/hd_my.png') no-repeat 0 0;}
	#header .w_set .hd_gnb .gnb_li li.hd_search{}
	#header .w_set .hd_gnb .gnb_li li.hd_menu{}
	#header .menu-trigger span,
	#header .menu-trigger2 span {background-color:#333;}

	/* main header */
	.main #header,
	.main #header .hd_btm,
	.main #header .hd_btm{background:transparent;}
	.main #header .w_set .hd_lnb li.lnb_li > a{color:#fff;}
	.main #header .w_set .logo{background:url('../images/skin/logo_on.png') no-repeat center;}
	.main #header:hover .w_set .hd_gnb a.h_login{color:#fff;}
	.main #header .w_set .hd_gnb .gnb_li li.hd_search{background:url(../images/skin/hd_search_on.png) no-repeat 0 0;}
	.main #header .w_set .hd_gnb a.h_login{color:#fff;}
	.main #header .menu-trigger span, 
	.main #header .menu-trigger2 span{background:#fff;}

	.main #header:hover,
	.main #header:hover .hd_btm,
	.main #header.on .hd_btm{background:#fff;}
	.main #header:hover .hd_top,
	.main #header.on .hd_top{background:#f5f5f5;}
	.main #header:hover .w_set .logo,
	.main #header.on .w_set .logo{background:url('../images/skin/logo.png') no-repeat center;}
	.main #header:hover .w_set .hd_lnb li.lnb_li > a,
	.main #header.on .w_set .hd_lnb li.lnb_li > a{color:#333;}
	.main #header:hover .w_set .hd_gnb .lang span,
	.main #header.on .w_set .hd_gnb .lang span{color:#333;background:url('../images/skin/hd_lang.png') no-repeat 81%;border:1px solid #333;}
	.main #header:hover .w_set .hd_gnb .lang{}
	.main #header.hover .w_set .hd_gnb .lang ul,
	.main #header.on .w_set .hd_gnb .lang ul{background:#fff;}
	.main #header:hover .w_set .hd_gnb .lang ul li a,
	.main #header:on .w_set .hd_gnb .lang ul li a{color:#333;}
	.main #header:hover.w_set .hd_lnb li.lnb_li > a,
	.main #header.on.w_set .hd_lnb li.lnb_li > a{color:#fff;}
	.main #header:hover .w_set .hd_gnb a.h_login,
	.main #header.on .w_set .hd_gnb a.h_login{color:#333;}

	.main #header:hover .w_set .hd_gnb .gnb_li li.hd_my,
	.main #header.on .w_set .hd_gnb .gnb_li li.hd_my{background:url('../images/skin/hd_my.png') no-repeat 0 0;}
	.main #header:hover .w_set .hd_gnb .gnb_li li.hd_search,
	.main #header.on .w_set .hd_gnb .gnb_li li.hd_search{background:url('../images/skin/hd_search.png') no-repeat 0 0;}
	.main #header:hover .w_set .hd_gnb .gnb_li li.hd_menu{}
	.main #header:hover .menu-trigger span,
	.main #header:hover .menu-trigger2 span,
	.main #header.on .menu-trigger span,
	.main #header.on .menu-trigger2 span {background-color:#333;}



	@media only screen and (min-width:641px) {
		.menu_li .dep2{display:block !important;}
	}

	@media only screen and (min-width:1200px) {


	}

	@media only screen and (max-width:1500px) {
		#header .w_set{width:calc(100% - 50px);}
		#header .w_set .hd_lnb li.lnb_li + li.lnb_li{padding-left:3%;}
		#header .w_set .hd_lnb li.lnb_li > a{font-size:16px;}
		#section1:before,
		#section1:after{background-size:auto 70% !important;}

		#section1:before{width:400px;}
		#section1:after{width:300px;}

		.main_visual .visual_type2.visual02 .txt {width:80%;max-width:1300px;}

	}


	@media only screen and (max-width:1217px) {

		#header .w_set{width:calc(100% - 50px);}
		#header .hd_btm .w_set{height:80px;}
		#header .w_set .logo,
		#header.on .w_set .logo{width:150px;height:100%;background-size:100% auto !important;}
		#header .w_set .hd_gnb{top:25px;min-width:220px;}
		#header .w_set .hd_lnb {display:none;}
		#header .w_set .hd_gnb .lang span{font-size:12px;line-height:28px;padding:0 14px;background-size:auto 4px !important;background-position:74% !important;}
		
		#header .w_set .hd_gnb .lang ul{top:30px;}
		#header .w_set .hd_gnb .lang ul li a{font-size:12px;line-height:20px;}

		#header .w_set .hd_gnb .gnb_li{padding:0 0 0 15px;}
		#header .w_set .hd_gnb .gnb_li li{background-size:auto 100% !important;}
		#header .w_set .hd_gnb .gnb_li li + li{margin-left:18px;}
		#header .w_set .hd_gnb .gnb_li li.hd_my{width:17px;height:17px;}
		#header .w_set .hd_gnb .gnb_li li.hd_search{width:17px;height:17px;}
		#header .w_set .hd_gnb .gnb_li li.hd_menu{width:25px;}
		.menu-trigger span, .menu-trigger2 span{width:25px;height:2px;}

		.main_visual .scroll{margin-left:-25px;}
		.main_visual .scroll a{font-size:12px;padding-top:70px;background:url('../images/skin/ico_main_scroll.png') no-repeat center top;background-size:50% auto;}

		.main_visual .visual_type2.visual02 .txt {width:90%;}

		.all_menu_wrap{top:0px;}
		.all_menu_wrap .all_menu .w_set{width:100%;padding:0 20px;box-sizing:border-box;}
		
		.all_menu_hd .w_set{width:calc(100% - 50px);height:80px;}
		.all_menu_hd .w_set .logo{width:100px;height:40px;background-size:auto 100% !important;}
		.all_menu_hd .w_set .hd_gnb{top:20px;}
		.all_menu_hd .w_set .hd_lnb {display:none;}
		.all_menu_hd .w_set .hd_gnb .lang span{font-size:12px;line-height:28px;padding:0 14px;background-size:auto 4px !important;background-position:74% !important;}
		.all_menu_hd .w_set .hd_gnb .lang ul{top:30px;}
		.all_menu_hd .w_set .hd_gnb .lang ul li a{font-size:12px;line-height:20px;}
		.all_menu_hd .w_set .hd_gnb .gnb_li{padding:0 0 0 15px;}
		.all_menu_hd .w_set .hd_gnb .gnb_li li{background-size:auto 100% !important;}
		.all_menu_hd .w_set .hd_gnb .gnb_li li + li{margin-left:18px;}
		.all_menu_hd .w_set .hd_gnb .gnb_li li.hd_my{width:17px;height:17px;}
		.all_menu_hd .w_set .hd_gnb .gnb_li li.hd_search{width:17px;height:17px;}
		.all_menu_hd .w_set .hd_gnb .gnb_li li.hd_menu{width:25px;}

		.menu_li .dep1{font-size:20px;line-height:20px;top:20px;}
		.menu_li .dep2 .dep2_li .dep3 li a{font-size:13px;}

		.layer_search .layer_close{right:5%;}	

	}
	@media only screen and (max-width:1023px) {
	}
	@media only screen and (max-width:860px) {

	}
	@media only screen and (max-width:767px) {
		
	}
	@media only screen and (max-width:640px) {
		html,
		body{overflow-x:hidden;height:inherit !important;}
		
		#header.on .hd_btm{background:#fff;/* height:70px; */}
		#header .hd_btm{background:transparent;}

		#header .w_set .hd_gnb .lang,
		#header .w_set .hd_gnb .gnb_li li.hd_my,
		#header .w_set .hd_gnb .gnb_li li.hd_search,
		#header .w_set .hd_gnb a.h_login{display:none;}
		#header{}
		#header:after{content:"";display:block;width:100%;height:1px;background:rgba(255,255,255,0.1);}
		#header .w_set{height:66px;width:calc(100% - 50px);}
		#header .w_set .logo{width:130px;height:100%;background-size:100% auto !important;}
		#header .w_set .hd_gnb{top:33px;min-width:auto;}
		#header .w_set .hd_gnb .gnb_li{padding:0px;}
		#header.on .w_set .hd_gnb .gnb_li li.hd_menu{width:26px;height:18px;margin-left:0px;background-size:auto 100%;}

		.scroll{display:none !important;}
		.main_cont{padding-top: 0 !important;}
		.section{position:relative;padding:100px 0;width:100%;overflow:hidden;height:auto !important;}
		#section0{height:600px !important;padding:0;}
		#section1{}
		#section2{padding: 50px 0 100px;}
		#section3{}
		#section4{padding:100px 0 0;}
		#section5{padding:0;background:#fff;}
		#section6{padding:0px;}
		#section7{height:0px;padding:0px;}

		.menu_li .dep2 .dep2_li{width:49%;}

		.all_menu_hd{display:none;}

		.all_menu_wrap{display:block;right:-100%;transition:0.8s;height:100%;overflow-y:scroll;}
		.all_menu_wrap .mo_menuTitle,
		.all_menu_wrap .ct_login,
		.all_menu_wrap .aside_sns{display:block;}
		.all_menu_wrap .aside_sns{margin:0 0 50px 0;}

		.all_menu_wrap .mo_menuTitle .ct_lang{float:right;margin-right:50px;}
		.all_menu_wrap .all_menu{height:auto;overflow:hidden;}
		.all_menu_wrap .all_menu .w_set{}

		.all_menu .w_set {border-bottom:0;padding:0px;}
		.all_menu .w_set > .menu_li {margin-top:0px;padding-top:0px;text-align:left;border-top:1px solid #dddddd;min-height:inherit;}
		.all_menu .w_set > .menu_li + li {border-top:1px solid #dddddd;}
		.all_menu .w_set > .menu_li.now > ul {display:block;width:100%;background:#f9f9f9;padding:0 20px;box-sizing:border-box;}
		.all_menu .w_set > .menu_li a{display:block;}
		.all_menu .w_set > .menu_li a .dep1{position:static;width:100%;font-size:18px;color:#333333;font-weight:500;padding:25px 0 20px 25px;line-height:18px;background:url(../images/skin/ct_off.png) no-repeat 94% 50%;background-size:15px auto;box-sizing:border-box;display:block;min-height:inherit;height:auto;border:none !important;cursor:pointer;}
		.all_menu .w_set > .menu_li a .dep1:after{display:none;}
		.all_menu .w_set > .menu_li .now > {}
		.all_menu .w_set > .menu_li .now > span{background: url(../images/skin/ct_on.png) no-repeat 94% 50%;background-size:15px auto;color: #044572;}
		.all_menu .w_set > .menu_li .now> a > ul {display:block;}
		.all_menu .w_set > .menu_li > ul {background-color:#f9f9f9;padding:0 20px;border-top:0;display:none;border-top:1px solid #ddd;width:100%;box-sizing:border-box;min-height:inherit;}
		.all_menu .w_set > .menu_li > ul > li {padding:0 15px;box-sizing:border-box;width:100%;}
		.all_menu .w_set > .menu_li > ul > li + li {border-top:1px solid #ddd;}
		.all_menu .w_set > .menu_li > ul > li a {font-size:15px;padding:22px 0;color:#666666;font-weight:400;display:block;line-height:15px !important;margin:0;}
		.all_menu .w_set > .menu_li > ul > li ul{border-top:1px solid #ddd;margin-bottom:0px !important;padding:10px 0 10px 10px;display:none;}
		.all_menu .w_set > .menu_li > ul > li ul li{}
		.all_menu .w_set > .menu_li > ul > li ul li + li{margin:0px !important;}
		.all_menu .w_set > .menu_li > ul > li ul li a{padding:10px 0;}
		.all_menu .w_set > .menu_li > ul > li ul li a:before{display:none !important;}
		.all_menu .w_set > .menu_li > ul > li a:hover, 
		.all_menu .w_set li dl dd a.on {font-weight:500;}
	}

	@media only screen and (max-width:479px) {
	}





/*───────────────────────────────────────────────────────────

	 FOOTER | outline/footer.html

───────────────────────────────────────────────────────────*/

	/* footer */
	.footer{height:auto;}
	.ft_notice{width:1260px;margin:0 auto 78px;}
	.ft_notice .notice,
	.ft_notice .ft_go_bnr{display:inline-block;vertical-align:top;margin:60px 0 0 0;} 

	.ft_notice .notice{width:52%;}
	.ft_notice .notice h4.tit{margin-top:-5px;margin-bottom:19px;position:relative;font-size:28px;color:#222222;line-height:28px;font-weight:500;}
	.ft_notice .notice h4.tit a{display:inline-block;position:absolute;right:0px;bottom:5px;width:24px;height:24px;background:url('../images/skin/main_bbs_more.jpg') no-repeat 0 0;background-size:auto 100%;}
	.ft_notice .notice ul{font-size:0px;}
	.ft_notice .notice ul li{position:relative;padding-left:16px;}
	.ft_notice .notice ul li:after{content:"";width:95%;height:1px;background:#eeeeee;position:absolute;right:0px;bottom:0px;}
	.ft_notice .notice ul li + li{}
	.ft_notice .notice ul li:before{content:"";display:block;width:2px;height:2px;background:#666666;position:absolute;left:6px;top:22px;}
	.ft_notice .notice ul li a{line-height:43px;position:relative;display:block;height:43px;}
	.ft_notice .notice ul li a span{font-size:16px;line-height:43px;display:inline-block;}
	.ft_notice .notice ul li a .tit{color:#666666;width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	.ft_notice .notice ul li a .date{position:Absolute;right:0px;top:0;color:#aaaaaa;}

	.ft_notice .ft_go_bnr{margin-left:3%;width:calc(100% - 56%);}
	.ft_notice .ft_go_bnr li{display:inline-block;width:48%;vertical-align:top;height:260px;position:relative;} 
	.ft_notice .ft_go_bnr li.go01{background:#ff5d65;}
	.ft_notice .ft_go_bnr li.go02{background:#d3b093;margin-left:3.2%;}
	.ft_notice .ft_go_bnr li a{display:block;padding:37px 31px;box-sizing:border-box;color:rgba(255,255,255,0.8);font-size:14px;line-height:18px;height:100%;}
	.ft_notice .ft_go_bnr li a b{display:block;font-size:28px;line-height:28px;color:#ffffff;margin:0 0 18px 0;}
	.ft_notice .ft_go_bnr li a:after{content:"GO";display:block;font-size:18px;line-height:18px;right:18px;bottom:14px;color:#fff;position:absolute;font-family:'Noto Sans KR', sans-serif;}

	.ft_cs{border-top:2px solid #f5f5f5;box-sizing:border-box;}
	.ft_cs .w_set{width:1260px;margin:0 auto;padding:20px 0;box-sizing:Border-box;}
	.ft_cs .w_set dl{display:inline-block;vertical-align:middle;}
	.ft_cs .w_set dl dt,
	.ft_cs .w_set dl dd{display:inline-block;vertical-align:middle;line-height:40px;font-weight:400;font-size:15px;}
	.ft_cs .w_set dl dt{color:#666666;}
	.ft_cs .w_set dl dt img{margin-right:10px;}
	.ft_cs .w_set dl dd{color:#333333;padding-left:6px;}
	.ft_cs .w_set dl + dl{margin-left:5%;}

	.ft_menu{background:#3b3b3b;border-bottom:1px solid #4c4c4c;box-sizing:Border-box;height:51px;}
	.ft_menu .w_set{width:1260px;margin:0 auto;font-size:0px;position:relative;}
	.ft_menu .w_set .menu li{display:inline-block;vertical-align:middle;position:relative;}
	.ft_menu .w_set .menu li + li{padding-left:22px;margin-left:15px;}
	.ft_menu .w_set .menu li + li:before{content:"";display:block;width:2px;height:2px;background:#cacaca;position:absolute;left:0px;top:50%;margin-top:-1px;}
	.ft_menu .w_set .menu li a{line-height:51px;font-size:13px;color:#cacaca;}
	.ft_menu .w_set .menu li a strong{font-size:13px;font-weight:500;}
	.ft_menu .w_set .ft_sns{position:absolute;right:0px;top:0px;height:51px;width:50%;text-align:right;}
	.ft_menu .w_set .ft_sns li{display:inline-block;vertical-align:middle;line-height:51px;}
	.ft_menu .w_set .ft_sns li + li{margin-left:2%;}
	.ft_menu .w_set .ft_sns li a{display:inline-block;height:100%;}
	.ft_menu .w_set .ft_sns li a img{height:30px;vertical-align:middle;}

	.ft_info{background:#333333;padding:13px 0 35px;}
	.ft_info address{font-size:0px;display:block;font-weight:400;}
	.ft_info address.for_pc{width:1260px;margin:0 auto;font-size:13px;color:#cacaca;line-height:28px;}
	.ft_info address.for_pc span{width:1px;height:14px;background:#b6b6b6;display:inline-block;vertical-align:middle;margin:0 4px 2px;}
	.ft_info address.for_m{display:none;}

	.ft_info .copy{font-size:13px;color:#cacaca;line-height:13px;margin:30px 0 0 0;}



	@media only screen and (max-width:1300px) {
		.ft_info address.for_pc{width:100%;padding:0 20px;box-sizing:border-box;word-break:keep-all;}
	}
	@media only screen and (max-width:1217px) {

		.footer .w_set{width:100%;padding:0 20px;box-sizing:border-box;margin:0px;}
		.ft_menu .w_set .ft_sns{right:20px;}
		.ft_menu .w_set .ft_sns li + li{margin-left:3%;}
		.ft_menu .w_set .ft_sns li a img{height:27px;}
		.footer .ft_notice{margin:0 0 15px 0;}
		.ft_notice .notice{width:50%;}
		.ft_notice .notice h4.tit{font-size:26px;line-height:26px;margin-bottom:19px;}
		.ft_notice .notice h4.tit a{width:22px;height:22px;}
		.ft_notice .notice ul li a{line-height:40px;height:40px;}
		.ft_notice .notice ul li a span{font-size:14px;line-height:40px;}
		.ft_notice .ft_go_bnr{width:calc(100% - 54%);font-size:0;}
		.ft_notice .ft_go_bnr li{height:240px}
		.footer .ft_cs .w_set{padding:20px;}
		.ft_cs{border-top:0px;}
		.ft_cs .w_set dl + dl{margin-left:4%;}
		.ft_cs .w_set dl dt,
		.ft_cs .w_set dl dd{font-size:13px;line-height:35px;}
		.ft_cs .w_set dl dt img{height:35px;}

		.ft_menu .w_set .menu li + li{margin-left:13px;padding-left:20px;}
		.ft_menu .w_set .menu li a{line-height:48px;}


	}
	@media only screen and (max-width:1023px) {
		.ft_cs .w_set dl{width:100%;padding:18px 0;border-bottom:1px solid #dddddd;box-sizing:border-box;}
		.ft_cs .w_set dl:nth-of-type(1){border-top:1px solid #dddddd;}
		.ft_cs .w_set dl + dl{margin-left:0;}

	}

	@media only screen and (max-width:950px) {
		.ft_notice .notice,
		.ft_notice .ft_go_bnr{width:100%;margin-left:0px;}
		.ft_notice .ft_go_bnr li{width:48.8%;}
		.ft_notice .ft_go_bnr li.go02{margin-left:2%;}
	}

	@media only screen and (max-width:860px) {

	}

	@media only screen and (max-width:767px) {
		.ft_menu .w_set .menu li + li{margin-left:6px;padding-left:7px;}

	}

	@media only screen and (max-width:640px) {

		.footer{padding:100px 0 0;}
		.ft_notice .notice, 
		.ft_notice .ft_go_bnr{margin:0px;}
		.footer .ft_notice{margin:0 0 15px 0;}
		.ft_notice .ft_go_bnr li{width:47%;}
		.ft_notice .ft_go_bnr li.go02{margin-left:5%;}
		.ft_notice .notice{width:100%;}
		.ft_notice .notice h4.tit{font-size:20px;line-height:20px;margin-bottom:15px;margin-top:0px;}
		.ft_notice .notice h4.tit a{width:15px;height:15px;bottom:0px;}
		.ft_notice .notice ul li:before{top:12px;}
		.ft_notice .notice ul li a{line-height:29px;height:29px;}
		.ft_notice .notice ul li a span{font-size:13px;line-height:29px;}
		.ft_notice .ft_go_bnr{width:100%;margin:15px 0 0 0;}
		.ft_notice .ft_go_bnr li{height:auto;padding-bottom:15%;}
		.ft_notice .ft_go_bnr li a{padding:24px 15px;font-size:12px;line-height:15px;}
		.ft_notice .ft_go_bnr li a b{font-size:20px;line-height:20px;}

		.ft_cs .w_set dl{padding:22px 0 22px 48px;}
		.ft_cs .w_set dl dt,
		.ft_cs .w_set dl dd{display:block;}
		.ft_cs .w_set dl dt{font-size:14px;line-height:14px;background-size:auto 100%;}
		.ft_cs .w_set dl dt img{display:none;}
		.ft_cs .w_set dl dd{font-size:13px;line-height:13px;margin:5px 0 0 0;padding-left:0px;}
		.ft_cs .w_set dl:nth-of-type(1){background:url('../images/skin/main_cs_ico01.png') no-repeat left;}
		.ft_cs .w_set dl:nth-of-type(2){background:url('../images/skin/main_cs_ico02.png') no-repeat left;}
		.ft_cs .w_set dl:nth-of-type(3){background:url('../images/skin/main_cs_ico03.png') no-repeat left;}

		.ft_menu{height:auto;}
		.ft_menu .w_set{text-align:center;padding:0 10px;}
		.ft_menu .w_set .menu li + li{margin-left:5px;padding-left:6px;}
		.ft_menu .w_set .menu li a{line-height:50px;font-size:12px;}
		.ft_menu .w_set .ft_sns{position:static;width:100%;text-align:center;margin-top:-3%;}
		.ft_menu .w_set .ft_sns li + li{margin-left:7%;}
		.ft_menu .w_set .ft_sns li img{height:30px;}
		.ft_info address.for_pc{display:none;}
		.ft_info address.for_m{display:block;font-size:14px;padding:15px 20px 0;box-sizing:border-box;line-height:20px;color:#cacaca;}
	}

	@media only screen and (max-width:479px) {

	}




/*───────────────────────────────────────────────────────────

	 SIDE_BOX | outline/left_bbs.html｜outline/left_goods.html｜outline/left_member.html｜outline/left_service.html

───────────────────────────────────────────────────────────*/

	#side_box {padding-bottom:1.8%;}
	#side_box .sub_menu {width:100%;padding:0;margin:0;z-index:2;text-align:center;vertical-align:top;}
	#side_box .sub_menu dl {position:relative;display:inline-block;margin:0 auto;z-index:3;font-size:0;text-align:center;vertical-align:top;padding:0;}
	#side_box .sub_menu dt,
	#side_box .sub_menu dd {display:inline-block;margin:0;padding:0;}
	#side_box .sub_menu dt {display:none;}
	#side_box .sub_menu dd {line-height:31px;height:32px;padding:0 12px;border-bottom:1px #ccc solid;position:relative;z-index:1;box-sizing:border-box;vertical-align:top;}
	#side_box .sub_menu dd + dd {}
	#side_box .sub_menu dd a,
	#side_box .sub_menu dd strong {height:31px;line-height:31px;font-size:15px;font-weight:600;padding:0 2px;color:#888;display:inline-block;box-sizing:border-box;vertical-align:top;}
	#side_box .sub_menu dd:hover a,
	#side_box .sub_menu dd.on a,
	#side_box .sub_menu dd strong {border-color:#333;color:#333;position:relative;}
	#side_box .sub_menu dd:hover a:before,
	#side_box .sub_menu dd.on a:before, 
	#side_box .sub_menu dd strong:before {bottom:-1px;width:100%;height:2px;background:#333;left:50%;transform:translateX(-50%);position:absolute;content:"";display:block;}
	}
	@media only screen and (max-width:1200px) {

	}
	@media only screen and (max-width:1023px) {
		
	}
	@media only screen and (max-width:860px) {
		#side_box .sub_menu dd {line-height:29px;height:30px;padding:0 8px;}
		#side_box .sub_menu dd a,
		#side_box .sub_menu dd strong {height:29px;line-height:29px;font-size:14px;padding:0 2px;}
	}
	@media only screen and (max-width:767px) {

	}
	@media only screen and (max-width:640px) {
		#side_box .sub_menu dd {line-height:27px;height:28px;padding:0 8px;}
		#side_box .sub_menu dd a,
		#side_box .sub_menu dd strong {height:27px;line-height:27px;font-size:14px;padding:0 2px;}

		.menu-trigger span:nth-of-type(2) {top:8px;}
		.main .menu-trigger span {height:2px;}
		#header .btn_hd_cate{padding-top:16px;}
	}
	@media only screen and (max-width:479px) {
		#side_box {display:none;}
	}





/*───────────────────────────────────────────────────────────

	 MAIN | index.html

───────────────────────────────────────────────────────────*/
	.fp-tableCell{}/* padding-top:100px; */
	#section0 .fp-tableCell,
	#section5 .fp-tableCell{padding-top:0;}

	/* 메인 비주얼 */
	#section0{}
	.main_visual{position:relative;width:100%;height:100%;z-index:0;overflow:hidden;}
	.main_visual .slick-list,
	.main_visual .slick-list .slick-track,
	.main_visual ul,
	.main_visual ul li{height:100%;}
	.main_visual .img{width:100%;height:100%;position:relative;-o-transform:scale(1.2,1.2);-ms-transform:scale(1.2,1.2);-moz-transform:scale(1.2,1.2);-webkit-transform:scale(1.2,1.2);transform:scale(1.2,1.2);-webkit-transition:transform 3700ms  ease-in-out;-moz-transition:transform 3700ms ease-in-out;-o-transition:transform 3700ms ease-in-out;-ms-transition:transform 3700ms ease-in-out;transition:transform 3700ms ease-in-out;background-size:cover;}

	.main_visual .slick-dots {bottom:56px;line-height:20px;height:20px;width:auto;margin:0;padding:0;position:absolute;left:50%;z-index:5;transform:translateX(-50%);text-align:Center;font-size:0;vertical-align:Top;}
	.main_visual .slick-dots li {border-color:rgba(255, 255, 255, 0);border-width:2px;border-style:solid;border-radius:20px;width:20px;height:20px;line-height:16px;vertical-align:top;padding:0;display:inline-block;outline:0;box-sizing:border-box;font-size:0;text-align:center;cursor:pointer;}
	.main_visual .slick-dots li + li {margin:0;}
	.main_visual .slick-dots li button {margin:6px;width:4px;height:4px;border-radius:4px;background:rgba(255, 255, 255, 0.5);border:0;vertical-align:top;padding:0;display:inline-block;outline:0;box-sizing:border-box;font-size:0;}
	.main_visual .slick-dots li.slick-active {border-color:rgba(255, 255, 255, 1);}
	.main_visual .slick-dots li.slick-active button {background:rgba(255, 255, 255, 1.0);}
	/*
	.main_visual .slick-dots {bottom:48px;line-height:20px;height:20px;}
	.main_visual .slick-dots li {border-width:2px;border-radius:20px;width:20px;height:20px;line-height:16px;}
	.main_visual .slick-dots li button {margin:6px;width:4px;height:4px;border-radius:4px;}
	*/

	.main_visual .txt{position:absolute;opacity:0;filter:Alpha(opacity=0);-moz-transition:bottom 0.8s, opacity 1.0s;-ms-transition:left 0.8s, opacity 1.0s;-webkit-transition:bottom 0.8s, opacity 1.0s;-o-transition:bottom 0.8s, opacity 1.0s;transition:bottom 0.8s, opacity 1.0s;z-index:1;text-shadow:2px 2px 6px rgba(0,0,0,0.1);}
	.main_visual .txt span{padding-bottom:500px;transition:1.5s;}
	.main_visual .txt p{opacity:0;filter:Alpha(opacity=0);-moz-transition:bottom 0.8s, opacity 1.0s;-ms-transition:left 0.8s, opacity 1.0s;-webkit-transition:bottom 0.8s, opacity 1.0s;-o-transition:bottom 0.8s, opacity 1.0s;transition:bottom 0.8s, opacity 1.0s;z-index:1;text-shadow:2px 2px 6px rgba(0,0,0,0.1);padding-top:500px;transition:1.5s;}

	.main_visual .visual_ul .txt{left:0;margin-left:0;bottom:30%;text-align:center;width:100%;margin-bottom:-90px;}
	.main_visual .visual_ul .txt span{display:block;font-size:26px;color:#efefef;line-height:26px;opacity:0.9;}
	.main_visual .visual_ul .txt p{font-size:60px;line-height:85px;color:#ffffff;margin:30px 0 0 0;font-weight:300;}
	.main_visual .visual_ul .txt p b{font-weight:500;font-size:80px;line-height:80px;color:#fff;}

	.main_visual .visual_ul .txt p,
	.main_visual .visual_ul .txt span{display:block;color:#fff;}
	.main_visual .visual_ul .txt p{font-size:60px;line-height:60px;font-weight:400;text-transform:uppercase;}
	.main_visual .visual_ul. .txtspan{margin-top:52px;font-weight:300;}
	.main_visual .visual_ul .txt b{color:#fff;font-weight:500;}
	.main_visual .visual_ul .txt span,
	.main_visual .visual_ul .txt b{font-size:20px;line-height:20px;color:#efefef;}

	/* active*/
	.main_visual .active .img{-ms-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);background-size:cover;}
	.main_visual .active .txt{opacity:1.0;filter:Alpha(opacity=100);bottom:50%;}
	.main_visual .slick-current .txt span{opacity:1.0;filter:Alpha(opacity=100);padding-bottom:0;}
	.main_visual .slick-current .txt p{opacity:1.0;filter:Alpha(opacity=100);padding-top:0;}


	/*
	.main_visual .visual_type2 .txt{text-align:center;top:50%;transform:translate(-50%, -50%);}
	.main_visual .visual_type2 .txt span,
	.main_visual .visual_type2 .txt b,
	.main_visual .visual_type2 .txt p{display:block;}
	.main_visual .visual_type2 .txt span,
	.main_visual .visual_type2 .txt p{color:#fff;font-weight:300;}
	.main_visual .visual_type2 .txt span{font-size:30px;line-height:30px;margin-bottom:30px;}
	.main_visual .visual_type2 .txt b{color:#fff;display:inline-block;font-weight:500;}
	.main_visual .visual_type2 .txt p,
	.main_visual .visual_type2 .txt b{font-size:76px;line-height:76px;}
	.main_visual .visual_type2 .txt div{margin-top:60px;display:block;}
	.main_visual .visual_type2 .txt div img{width:100%;min-width:800px;}
	.main_visual .visual_type2 .txt div.for_m{display:none;}
	.main_visual .visual_type2 .txt .sm_txt {color:#fff;font-size:24px;line-height:36px;text-align:left;font-weight:400;}

	.main_visual .visual_type2.visual02 .txt {text-align:left;width:1300px;}
	*/

	.main_visual .scroll{display:inline-block;position:absolute;left:50%;bottom:50px;margin-left:-25px;}
	.main_visual .scroll a{display:block;font-size:14px;color:#ffffff;text-align:center;padding-top:90px;background:url('../images/skin/ico_main_scroll.png') no-repeat center top;}

	.main_tit{position:relative;top:-50px;transition:0.7s;opacity:0;}
	.main_tit h3,
	.main_tit span{color:#fff;font-weight:300;display:block;text-align:center;}
	.main_tit h3{font-size:60px;line-height:50px;}
	.main_tit span{font-size:20px;line-height:25px;margin-top:50px;}

	.main_cont{padding-top:100px;}

	/* service */
	#section1{width:100%;height:100%;background:url('../images/skin/main_service_bg.jpg') no-repeat center;background-size:auto 110%;}
	.main_notice ul{text-align:center;max-width:1200px;margin:85px auto 0;}
	.main_notice ul li{width:23%;display:inline-block;vertical-align:middle;position:relative;opacity:0;}
	.main_notice ul li:nth-of-type(1){bottom:-150px;transition:1.5s;transition-delay:0.7s;}
	.main_notice ul li:nth-of-type(2){bottom:-200px;transition:2s;transition-delay:0.7s;}
	.main_notice ul li:nth-of-type(3){bottom:-250px;transition:2.2s;transition-delay:0.7s;}
	.main_notice ul li:nth-of-type(4){bottom:-300px;transition:2.4s;transition-delay:0.7s;}
	.main_notice ul li + li{}
	.main_notice ul li a{text-align:center;display:block;position:absolute;left:0;top:0;width:100%;height:100%;}
	.main_notice ul li img{}
	.main_notice ul li .txt{}
	.main_notice ul li .txt strong,
	.main_notice ul li .txt span{display:block;color:#fff;font-weight:300;}
	.main_notice ul li .txt strong{margin:33px 0 28px;font-size:22px;line-height:22px;font-weight:400;}
	.main_notice ul li .txt span{font-size:14px;line-height:24px;height:48px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;/* 라인수 */-webkit-box-orient:vertical;word-wrap:break-word;color:#dddddd;}

	/* vod */
	#section2{width:100%;height:100%;background:url('../images/skin/main_comm_bg.jpg') no-repeat center;background-size:auto 110%;}
.main_comm{}
	.main_comm ul{width:870px;overflow:hidden;font-size:0;margin:90px auto 0;}
	.main_comm ul li{width:calc(30% - 2.7%);display:inline-block;font-size:20px;color:#fff;line-height:20px;padding:0 5px;text-align:center;transition:0.2s;}
	.main_comm ul li + li{margin-left:3.5%;}
	.main_comm ul li dl{margin-top:30px;padding:10px 5px;color:#ffffff;font-size:20px;display:block;border:2px solid rgba(255,255,255,0.5);}
.main_comm ul li dl dt{font-size:18px;}
.main_comm ul li dl dd{font-size:14px;margin-top:30px;}
	



	/* community */
	#section3{background:#fff;}
	.main_vod{}
    .main_vod .main_tit h3{color:#222}
    .main_vod .main_tit span {color:#222}
.main_vod .main_tit{margin-bottom: 30px}
	.main_vod .vod_box{height:640px;}
	.main_vod .vod_box .slick-list{padding-top: 3% !important;transition:0.5s;}
	.main_vod .vod_box li{background-repeat:no-repeat;background-position:center;margin:0 80px;position:relative;width:1100px;height:450px;transition-timing-function:ease-in-out;box-sizing:border-box;transition:width 1s, height 1s, -webkit-transform 1s;transition:0.5s;transition-delay:0s;vertical-align:middle;}
	.main_vod .vod_box li a{position:absolute;left:0;top:0;width:100%;height:100%;}
	.main_vod .vod_box li .txt{text-align:center;}
	.main_vod .vod_box li .txt span,
	.main_vod .vod_box li .txt strong,
	.main_vod .vod_box li .txt b{display:block;text-align:center;color:#fff;}
	.main_vod .vod_box li .txt span{font-size:30px;line-height:36px;}
	.main_vod .vod_box li .txt strong{font-size:22px;line-height:28px;margin:28px 0 52px;}
	.main_vod .vod_box li .txt b{display:inline-block;margin:0 auto;line-height:60px;padding:0 44px;border:2px solid rgba(255,255,255,0.5);color:#fff;font-size:20px;}
 
	.main_vod .vod_box li.slick-center{height:600px;margin-top: -0.5%;transition:height 1s, -webkit-transform 2s;transition:0.5s;transition-delay:1s;transform-origin: top;}

	.main_vod .slick-arrow{width:140px;height:140px;position:absolute;font-size:0;z-index:50;top:50%;margin-top:-75px;}
	.main_vod .slick-prev{background:url('../images/skin/main_vod_prev.png') no-repeat 0 0;left:180px;}
	.main_vod .slick-next{background:url('../images/skin/main_vod_next.png') no-repeat 0 0;right:180px;}

	.main_vod .slick-dots{text-align:center;margin-top:67px;position: absolute;bottom: -55px;left: 50%;transform: translateX(-50%);}
	.main_vod .slick-dots li{font-size:0;padding:0;margin:0 13px;display:inline-block;vertical-align:middle;float:inherit;width:auto;height:auto;transition:none;}
	.main_vod .slick-dots li button{font-size:0;padding:0;margin:0;width:8px;height:8px;border-radius:100px;background:#000;transition:0.2s;}
	.main_vod .slick-dots li.slick-active button{width:20px;height:20px;transition:0.2s;}

	.main_vod .vod_box .box{padding:190px 0 160px;box-sizing:border-box;height:100%;background-size: cover !important;background-position: top center !important;}
	.main_vod .vod_box li.vod01 .box{background-image:url('../images/skin/vod_img01.jpg');background-size:cover;}
	.main_vod .vod_box li.vod02 .box{background-image:url('../images/skin/vod_img02.jpg');background-size:cover;}
	.main_vod .vod_box li.vod03 .box{background-image:url('../images/skin/vod_img03.jpg');background-size: 100% auto;background-position: top center;}
    .main_vod .vod_box li.vod04 .box{background-image:url('../images/skin/vod_img01.jpg');background-size:cover;}
	.main_vod .vod_box li.vod05 .box{background-image:url('../images/skin/vod_img02.jpg');background-size:cover;}
    .main_vod .vod_box li.vod06 .box{background-image:url('../images/skin/vod_img02.jpg');background-size:cover;}
	
	
        #section4{background:#f2f2f2;}

        #section5{background:#828282;}
	/* nav */
	#fp-nav ul li,
	.fp-slidesNav ul li{height:34px !important;width:auto !important;text-align:left;text-align:left;}
	/*#fp-nav ul li:last-of-type,
	.fp-slidesNav ul li:last-of-type{display:none;}*/
	#fp-nav ul li a span,
	.fp-slidesNav ul li a span{background:#ccc !important;left:19px !important;font-size:0 !important;}
	#fp-nav.bg ul li a span, 
	.fp-slidesNav.bg ul li a span{background:#eee !important;}

	#fp-nav ul li a,
	.fp-slidesNav ul li a {display:block;position:relative;z-index:50;width:100%;height:100%;cursor:pointer;text-decoration:none;box-sizing:border-box;position:absolute !important;}
	#fp-nav ul li a.active,
	.fp-slidesNav ul li a.active {/* border:2px solid #fff; */border-radius:100px;}
	#fp-nav ul li .fp-tooltip{font-size:0 !important;color:#ccc !important;width:auto !important;left:68px !important;font-family:'Lato', sans-serif !important;line-height:34px !important;top:0px !important;opacity:1 !important;}
	#fp-nav ul li .active + .fp-tooltip{color:#fff !important;}
	#fp-nav ul li:hover .fp-tooltip,
	#fp-nav.fp-show-active a.active + .fp-tooltip {opacity:1;color:#fff;}

	#fp-nav.bg ul li .active + .fp-tooltip{color:#fff !important;}
	#fp-nav.bg ul li:hover .fp-tooltip,
	#fp-nav.bg.fp-show-active a.active + .fp-tooltip {color:#fff;}

	#fp-nav ul li a:after {content:"";display:block;font-size:14px !important;color:#ccc !important;width:100px !important;left:68px !important;font-family:'Lato', sans-serif !important;line-height:34px !important;top:0px !important;opacity:1 !important;/* position:absolute; *//* right:100%; */display:inline-block;padding-left:70px;}
	#fp-nav.bg ul li a:after{color:#eee;}
		
	#fp-nav ul li:nth-of-type(1) a:after{content:"Main";display:block;}
	#fp-nav ul li:nth-of-type(2) a:after{content:"02";display:block;}
	#fp-nav ul li:nth-of-type(3) a:after{content:"03";display:block;}
	#fp-nav ul li:nth-of-type(4) a:after{content:"04";display:block;}
	#fp-nav ul li:nth-of-type(5) a:after{content:"05";display:block;}
	#fp-nav ul li:nth-of-type(6) a:after{content:"06";display:block;}
	#fp-nav ul li:nth-of-type(7) a:after{content:"07";display:block;}
	#fp-nav ul li:nth-of-type(8) a:after{content:"08";display:block;}

	/*active*/
	#section1.active:before{left:0%;opacity:1;}
	#section1.active:after{right:0%;opacity:1;}
	#section1.active .main_service{bottom:0%;opacity:1;}

	.active .main_tit{top:0px;opacity:1;}
	#section1.active .main_notice ul li{bottom:0;opacity:1;}
	#section1.active .main_review{bottom:0px;opacity:1;}


	#fp-nav ul li a.active:before,
	.fp-slidesNav ul li a.active:before{content:"";display:block;width:34px;height:34px;border:2px solid #fff;border-radius:100px;position:absolute;left:0px;top:0px;}
	#fp-nav.bg ul li a.active:before,
	.fp-slidesNav.bg ul li a.active:before{border:2px solid #fff;}

	#fp-nav ul li a.active:after,
	.fp-slidesNav ul li a.active:after{color:#fff !important;}
	#fp-nav.bg ul li a.active:after,
	.fp-slidesNav.bg ul li a.active:after{color:#fff !important;}


	#fp-nav ul li a.active span,
	.fp-slidesNav ul li a.active span,
	#fp-nav ul li:hover a.active span,
	.fp-slidesNav ul li:hover a.active span{width:4px !important;height:4px !important;background:#fff !important;border-radius:100px;margin:0px 0px 0px -2px !important;left:19px !important;}

	#fp-nav.bg ul li a.active span,
	.fp-slidesNav.bg ul li a.active span,
	#fp-nav.bg ul li:hover a.active span,
	.fp-slidesNav.bg ul li:hover a.active span{background:#fff !important;}





	@media only screen and (max-width:1500px) {
		.main_vod .vod_box li{margin:0 20px;}
		.main_vod .slick-prev{left:250px;}
		.main_vod .slick-next{right:250px;}
	}
	@media only screen and (max-width:1296px) {
	}
	@media only screen and (max-width:1217px) {
		.fp-tableCell{padding-top:0;height:auto !important;}

		.main_vod .vod_box li{margin:0 20px;}
		.main_vod .slick-arrow{width:100px;height:100px;background-size:auto 100% !important;}
		.main_vod .slick-dots{margin-top:4%;}

	}
	@media only screen and (max-width:1023px) {
		.main_com_tit h3{font-size:50px;line-height:40px}
		.main_com_tit span{font-size:18px;margin:30px 0 0 0;line-height:22px;}

		.main_notice ul li .txt strong{margin:30px 0 30px;font-size:20px;line-height:20px;}
		.main_notice ul li .txt span{font-size:14px;line-height:18px;height:36px;}
		
		.main_comm ul{width:90%;}
		.main_comm ul li a{line-height:50px;font-size:16px;padding:0 30px;}

		.main_vod .slick-prev{left:200px;}
		.main_vod .slick-next{right:200px;}

		#fp-nav{display:none !important;}

	}
	@media only screen and (max-width:860px) {	
		.main_visual .slick-dots {bottom:32px;}
		
				
		.main_visual .visual_ul .txt span, 
		.main_visual .visual_ul .txt b{font-size:18px;line-height:18px;}
		.main_visual .visual_ul .txt p{font-size:40px;line-height:45px;margin:20px 0 0 0;}

		.main_notice ul li{padding:0 10px;box-sizing:border-box;}
		
		.main_vod .vod_box li .txt span{font-size:18px;line-height:18px;}
		.main_vod .vod_box li .txt strong{font-size:30px;line-height:40px;margin:2.7% 0 9.5%;}
		.main_vod .vod_box li .txt b{font-size:50px;padding:0 30px;font-size:18px;}
		.main_vod .slick-arrow{width:70px;height:70px;}
		.main_vod .slick-prev{left:180px;}
		.main_vod .slick-next{right:180px;}
		.main_vod .slick-dots li{margin:0 7px;height: auto !important;}
		.main_vod .slick-dots li.slick-active button{width:15px;height:15px;}
	}
	@media only screen and (max-width:767px) {
		.main_vod .slick-arrow{display:none !important;}
	}
	@media only screen and (max-width:640px) {
		.main_visual .slick-dots {bottom:24px;}

		.main_visual .txt span{font-size:15px;line-height:15px;}
		.main_visual .txt p{font-size:36px;line-height:46px;margin:10px 0 0 0;}
		.main_visual .txt p b{font-size:46px;line-height:46px;}

		.main_visual .img{background-position:80%;}

		.main_com_tit h3{font-size:35px;line-height:35px;font-weight:400;}
		.main_com_tit span{font-size:15px;margin:18px 0 0 0;line-height:18px;}

		.main_notice ul{text-align:center;margin:90px 0 0 0;}
		.main_notice ul{margin:30px auto 0;}
		.main_notice ul li{width:100%;}
		.main_notice ul li img{width:80px;}
		.main_notice ul li .txt strong{margin:15px 0 20px;font-size:16px;line-height:16px;}
		.main_notice ul li .txt span{display:none;}
		
		.main_comm ul{width:calc(90% + 2.7%);margin-left:2.7%;}
		.main_comm ul li + li{margin-left:0;}
		.main_comm ul li{width:calc(90% - 2.7%);margin-left:2.7% !important;margin-top:40px}
		.main_comm ul li:nth-of-type(n+3){margin-top:2.7%;}

		.main_vod .vod_box{height: 405px;}
		.main_vod .vod_box li{padding:3% 0 2.9%;padding: 0;height: 300px;}
		.main_vod .vod_box li.slick-center{height: 400px;}
		.main_vod .vod_box .box{padding: 34% 0;}
		
		#section4 .footer{padding-top:0;}
		.main_vod .vod_box li .txt span{font-size:14px;line-height:14px;}
		.main_vod .vod_box li .txt strong{font-size:20px;line-height:30px;}
		.main_vod .vod_box li .txt b{padding:0 15px;font-size:14px;line-height:50px;}
		.main_vod .slick-dots li.slick-active button{width:10px;height:10px;}

	}
	@media only screen and (max-width:479px) {
		.main_vod ul li{margin:0 10px;}
	}
	@media screen and (max-width:320px) {
		
	}

@media (min-width: 992px) {
  .slider,
  .slide {
    height: 80vh;
  }
}
.slide {
  position: relative;
}
.slide .slide__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.slide .slide__img img {
  max-width: 100%;
  height: auto;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: all 1s ease;
}
.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .slide__content--headings {
  text-align: center;
  color: #fff;
}
.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}
.slider [data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover,
.simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 0.25;
  width: 50px;
  height: 3px;
  padding: 0;
}
.stick-dots .slick-dots li button:hover,
.stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover,
.stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}
/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
          animation-name: zoomInImage;
}
@-webkit-keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
          animation-name: zoomOutImage;
}

